<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="256x256" href="/fav/favicon-256x256.png"/>

        <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>

        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
        
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>
    <body>
        <header th:fragment="header" class="header d-print-none">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 shadow">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand text-warning fw-bold">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav" sec:authorize="hasRole('ROLE_VENDEDOR') or hasRole('ROLE_ADMIN')">
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/consultas/listado}">[[#{plantilla.consultas}]]</a></li>

                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">[[#{plantilla.admin}]]</a>
                                <ul class="dropdown-menu shadow">
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                                    <li class="submenu dropdown-divider"></li>
                                    <li class="submenu dropdown-item dropend">
                                        <a class="dropdown-toggle text-decoration-none text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();">
                                            [[#{plantilla.seguridad}]]
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/role/listado}">[[#{plantilla.troles}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/usuario_rol/mantenimiento}">[[#{plantilla.permisos}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/ruta/listado}">[[#{plantilla.rutas}]]</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/constante/listado}">[[#{plantilla.constantes}]]</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            <li id="resultBlock" class="nav-item my-auto px-3">
                                <div th:replace="~{carrito/fragmentos :: verCarrito}"></div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-info" data-bs-toggle="dropdown" href="#" role="button">
                                    <i class="fas fa-globe"></i> [[#{plantilla.idioma}]]
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end shadow">
                                    <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=fr)}">Française</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=pt)}">Portugaise</a></li>
                                </ul>
                            </li>

                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item my-auto">
                                <a class="nav-link text-white">
                                    <img th:src="@{${session.imagenUsuario}}" alt="User Profile" height="35" class="rounded-circle border border-info"/>
                                    <span class="ms-1">[[#{plantilla.bienvenido}]] </span>
                                    <span sec:authentication="name" class="fw-bold text-info"></span>
                                </a>
                            </li>
                            <li class="nav-item my-auto">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn nav-link" type="submit">
                                        <i class="fas fa-sign-out-alt text-danger"></i> <span class="ms-1">Logout</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="main-header" class="py-2 bg-success text-white shadow-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><i class="fas fa-store"></i> [[#{plantilla.suTienda}]]</h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <footer th:fragment="footer" class="p-4 mt-5 bg-dark text-white text-center d-print-none border-top border-warning">
            <p class="lead m-0">[[#{plantilla.derechos}]] &copy; 2026</p>
        </footer>

        <section th:fragment="mostrarToast">
            <div aria-live="polite" aria-atomic="true" class="position-fixed top-50 start-50 translate-middle" style="z-index: 1080;">
                <div th:if="${error}" class="toast show shadow-lg" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
                    <div class="toast-header text-white bg-danger">
                        <i class="fa-solid fa-bomb me-2"></i> <strong class="me-auto">[[#{error}]]</strong>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        <p class="mb-2">[[${error}]]</p>
                        <div class="mt-2 pt-2 border-top text-center">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">[[#{accion.cerrar}]]</button>
                        </div>
                    </div>
                </div>
                <div th:if="${todoOk}" class="toast show shadow-lg" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="true">
                    <div class="toast-header text-white bg-success">
                        <i class="fa-solid fa-square-check me-2"></i> <strong class="me-auto">[[#{atencion}]]</strong>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        <p class="mb-2">[[${todoOk}]]</p>
                        <div class="mt-2 pt-2 border-top text-center">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">[[#{accion.cerrar}]]</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>